*{
    margin: 0;
    padding: 0;
    background-color: #000;
    color:rgb(157, 255, 0);
    box-sizing: border-box;
}

body{
    height: 100vh;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.main{
    /* background-color: aqua; */
    /* height: 90vmin; */
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
}
.img{
    background-color: beige;
    height: 28vmin;
    width: 30vmin;
    background-image: url(/newp.jpg);
    background-size: cover;
}
.att{
    background-color: #000;
    height: 36vmin;
    width: 94vh;
}
.det{
    /* background-color: orange; */
    height: 64vmin;
    width: 50rem;

}
.matb1{
    /* background-color: red; */
    height: 18vmin;
    font-size: 40px;
    padding-left: 20px;
    color: rgb(157, 255, 0);
}
.matb2{
    /* background-color: blueviolet; */
    height: 15vmin;
    display: flex;
    align-items: center;
}
td{
    width: 31vh;
    color: rgb(157, 255, 0);
}
th{
    width: 50vh;
    color: rgb(157, 255, 0);
}
a{
    color: rgb(157, 255, 0);
    text-decoration: none;
}
.det1{
    /* background-color: blueviolet; */
    height: 32vmin;
}
.det2{
    /* background-color: greenyellow; */
    height: 32vmin;
    display: flex;
    align-items: center;
    
}
#myslf{
    padding-top: 20px;
    margin-top: 5px;
    color:rgb(157, 255, 0);
    font-size: 20px;
    height: 30vmin;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}